In [3]:
import os
import pandas as pd

FRAME_DIR = "../dataset/animals_emotions/frames"
data = []

for filename in os.listdir(FRAME_DIR):
    if filename.endswith(".jpg"):
        # Exemple : dog_joy_01_001.jpg
        parts = filename.replace(".jpg", "").split("_")
        if len(parts) < 4:
            continue
        animal = parts[0]
        emotion = parts[1]
        data.append({
            "image": filename,
            "animal": animal,
            "emotion": emotion
        })

In [4]:
df = pd.DataFrame(data)
df.head()

                     image animal emotion
0  horse_hunger_01_014.jpg  horse  hunger
1      bird_joy_02_016.jpg   bird     joy
2      bird_joy_02_002.jpg   bird     joy
3    dog_hunger_01_004.jpg    dog  hunger
4    dog_hunger_01_010.jpg    dog  hunger

In [ ]:
df.to_csv("../dataset/frames_labels.csv", index=False)
print("✅ CSV généré avec", len(df), "images.")